body{
    background-color: #c5ebf1;
}

#Logo{
    top:0%;
    width: 100%;
    background-image: radial-gradient(circle, #120b8f 0%, #0f0fa7 20%, #00d4ff 100%);
}

#Navbar{
    width: 100%;
    background-color:rgb(153, 196, 233);
}


#boton_Compilar{
    position: absolute;
    top: 50%;
    left: 0%;
    border-radius:8px;
    height: 35px;
    width: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:white;
    border-bottom-color: black;
}

#boton_Compilar:hover{
    background-color: wheat;
}

#cuerpo_resultado{
    position: absolute;
    top:20%;
    left:60%;
    width:30%;
    height:75%;
}

#div_edicionTexto{
    position:absolute;
    top:20%;
    left:17%;
    width: 30%;
    height:75%;
}

#Consola{
    position:absolute;
    top:100%;
    left:25%;

}